@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(255, 137, 196);
  font-family: Montserrat, sans-serif;
}
#particles-js {
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  opacity: 0.8;
  background: #fff;
  position: absolute;
}
